.container {
  display: flex;
  flex-direction: column;
  background-color: var(--surface-white);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  gap: 1rem;
}

.title {
  text-align: center;
  font-weight: var(--text-bold);
  font-size: var(--text-md);
}

.preview {
  text-align: center;
  font-size: var(--text-sm);
  color: var(--text-dark);
  margin-top: 1rem;
}

.previewImage {
  max-width: 100%;
  height: auto;
  margin-top: 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  object-fit: contain;
}
