

.wrapper {
  display: flex;
  min-height: 100vh;
  background-color: var(--background-white);
}

.formContainer {
  flex: 1;
  padding: 3rem;
  background-color: var(--surface-white);
  border-radius: var(--border-radius-lg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  margin: 2rem;
  border: 1px solid var(--primary-green-dark);
}

.heading {
  font-size: var(--text-xl);
  font-weight: var(--text-bold);
  margin-bottom: 2rem;
  color: var(--text-dark);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.inputGroup label {
  font-weight: var(--text);
  margin-bottom: 0.5rem;
  color: var(--text-dark);
}

.inputGroup input {
  padding: 0.8rem 1.2rem;
  border-radius: var(--border-radius-lg);
  border: none;
  background-color: var(--disabled-bg);
  font-size: var(--text-md);
  color: var(--text-dark);
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.backBtn,
.nextBtn {
  padding: 0.6rem 1.8rem;
  border: none;
  border-radius: var(--border-radius-lg);
  font-weight: var(--text);
  font-size: var(--text-md);
  cursor: pointer;
  color: var(--text-light);
}

.backBtn {
  background-color: var(--gray-medium);
}

.nextBtn {
  background-color: var(--primary-green);
}
